.Rproj.user
.Rhistory
.RData
SpecificAims.tex
Aim1_Research_Plan-concordance.tex
Aim1_Research_Plan.log
Aim1_Research_Plan.synctex.gz
Aim1_Research_Plan.tex
Outline.log
Outline.synctex.gz
Outline.tex
SpecificAims-concordance.tex
SpecificAims.log
SpecificAims.synctex.gz
Outlier_Detection_and_BatchEffects-blx.bib
Outlier_Detection_and_BatchEffects-concordance.tex
Outlier_Detection_and_BatchEffects.bbl
Outlier_Detection_and_BatchEffects.log
Outlier_Detection_and_BatchEffects.pdf
Outlier_Detection_and_BatchEffects.run.xml
Outlier_Detection_and_BatchEffects.synctex.gz
Outlier_Detection_and_BatchEffects.tex
collected_analyses-concordance.tex
collected_analyses.log
collected_analyses.pdf
collected_analyses.synctex.gz
collected_analyses.tex
