.Rproj.user
.Rhistory
.RData
SpecificAims.tex
Aim1_Research_Plan-concordance.tex
Aim1_Research_Plan.log
Aim1_Research_Plan.synctex.gz
Aim1_Research_Plan.tex
Outline.log
Outline.synctex.gz
Outline.tex
SpecificAims-concordance.tex
SpecificAims.log
SpecificAims.synctex.gz
