<html>

<head>
<!--begin.rcode echo=FALSE, message=FALSE
knitr::opts_chunk$set(echo = FALSE, message = FALSE)
library(htmltools)
library(compositions)
library(ggplot2)
end.rcode-->

<script type="text/javascript">
  
  (function() {
    // http://stackoverflow.com/questions/10964966/detect-ie-version-in-javascript
    function isIE () {
      var myNav = navigator.userAgent.toLowerCase();
      return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
    }
    
    if (isIE() === 8 || isIE() === 9){
      // Set an absolute base href.
      baseURL = document.URL;
      baseURL = baseURL.substring(0, baseURL.lastIndexOf('/'));
      document.getElementsByTagName('base')[0].setAttribute('href', baseURL + '/_w_83ad5705/');
    }
  })();
</script>


<title>Relative frequency measurements: Metrics for sample quality, sequencing integrity, and batch effects in targeted NGS.</title>
<link rel="stylesheet" type = "text/css" href="bootstrap.css">
</head>
<style>
  .black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 12%;
    left: 12%;
    width: 75%;
    height: 75%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
</style>

<body>

<h1 align="center"> Relative frequency measurements: Metrics for sample quality, sequencing integrity, and batch effects in targeted NGS.</h1>
<h5 align="center"> Bonnie LaFleur<sup>1</sup>, Dominic LaRoche<sup>1,2</sup>, Kurt Michels<sup>1,2</sup>, Shripad Sinari<sup>2</sup>,  Dean Billhiemer<sup>2</sup></h3>
<h6 align="center"> <sup>1</sup>HTG Molecular Diagnostics, Inc.,  <sup>2</sup>University of Arizona, Tucson AZ</h3>

<!---Main Contents-->
<div class="row">
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_1.html")
end.rcode-->
  
    <p> <a href = "javascript:void(0)" onclick = "document.getElementById('content1').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>

    
    </form>
  </div>
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_2.html")
end.rcode-->

    <p> <a href = "javascript:void(0)" onclick = "document.getElementById('content2').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>
    </form>
  </div>
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_3.html")
end.rcode-->
    <p>   <a href = "javascript:void(0)" onclick = "document.getElementById('content3').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>
    </form>
  </div>
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_4.html")
end.rcode-->
    <p>   <a href = "javascript:void(0)" onclick = "document.getElementById('content4').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_5.html")
end.rcode-->
    <p> <a href = "javascript:void(0)" onclick = "document.getElementById('content5').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>

    
    </form>
  </div>
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_6.html")
end.rcode-->
    <p> <a href = "javascript:void(0)" onclick = "document.getElementById('content6').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>
    </form>
  </div>
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_7.html")
end.rcode-->     
    <p> <a href = "javascript:void(0)" onclick = "document.getElementById('content7').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>
    </form>
  </div>
  <div class="col-sm-3">
    <form class="well">
<!--begin.rcode
includeHTML("./ASA_Poster_Content/content_8.html")
end.rcode-->  
    <p> <a href = "javascript:void(0)" onclick = "document.getElementById('content8').style.display='block';document.getElementById('fade').style.display='block'">Expand</a></p>
    </form>
  </div>
</div>

<!--Expanded Contents-->
<div id="content1" class="white_content">
    <h4>Next-Generation Sequencing as Compositional Data</h4> 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content1').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content2" class="white_content">
    This is the expanded Content 2. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content2').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content3" class="white_content">
    This is the expanded Content 3. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content3').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content4" class="white_content">
    This is the expanded Content 4. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content4').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content5" class="white_content">
    This is the expanded Content 5. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content5').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content6" class="white_content">
    This is the expanded Content 6. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content6').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content7" class="white_content">
    This is the expanded Content 7. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content7').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div id="content8" class="white_content">
    This is the expanded Content 8. 
    <a href = "javascript:void(0)" onclick = "document.getElementById('content8').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>
<div id="fade" class="black_overlay"></div>

</body>
</html>
